polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" && 
        subject.user == "[username]") {
        var command = action.args["command"];
        if (command.includes("rmmod uvcvideo") || 
            command.includes("modprobe uvcvideo")) {
            return polkit.Result.YES;
        }
    }
});
